<form method="post" action="{{ path('app_ressource_delete', {'Id_Ressource': ressource.idRessource}) }}" 
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette ressource ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ressource.idRessource) }}">
    
    <!-- Bouton Supprimer en rouge -->
    <button class="btn btn-danger btn-lg" type="submit">Supprimer</button>
</form>
