<form method="post" action="{{ path('app_message_forum_delete', {'IdMessageForum': message.IdMessageForum}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.IdMessageForum) }}">
    <button class="{{ button_class }}">Delete</button>
</form>
