{% extends 'base.html.twig' %}

{% block title %}Ressources du Cours{% endblock %}

{% block body %}
    <h1>Ressources du Cours</h1>

    {% if ressources is empty %}
        <p>Aucune ressource n'a été trouvée pour ce cours.</p>
    {% else %}
        <ul>
            {% for ressource in ressources %}
                <li>
                    {{ ressource.nom }} (Type : {{ ressource.type }})
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{{ path('app_cours_index') }}">Retour aux cours</a>
{% endblock %}
