{% extends 'base.html.twig' %}

{% block title %}Hello MailerController!{% endblock %}

{% block body %}
<style>
  
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/m2l3k/Desktop/akhermara/final/src/Controller/MailerController.php</code></li>
        <li>Your template at <code>C:/Users/m2l3k/Desktop/akhermara/final/templates/mailer/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
